<% include partials/header %>

<h1>You fell in love with <%= thingVar %>  </h1>


<%  if(thingVar.toLowerCase() === "bukky"){  %>
    <p>GREAT DECISION!!! YOU PICKED THE BEST</p>
<%  }  %>

<p>p.s this is the love.ejs file </p>

<% include partials/footer %>